@font-face{
	font-family: BebasNeus;
	src: url(../fonts/BebasNeue.otf);
}
@font-face{
	font-family: Roboto-light;
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-bold.ttf);
	font-weight:bold;
}