.titseccion{
	color:#c80000;
	font-family: BebasNeus;
	font-size: 57px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.cols{
	border-right: 1px solid #c80000;
	color: #4d4d4d;
	display: inline-block;
	font-family: Roboto-light;
	font-size: 15px;
	margin-bottom: 50px;
	min-height: 350px;
	overflow: hidden;
	padding: 15px 2% 0 2%;
	width: 28%;
	vertical-align: top;
}
.cols:last-child{
	border:0;
}
.cols h2{
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 25px;
}
.cols input{
	margin-bottom: 15px;
}
.cols input[type="submit"]{
	background: #ff0000;
	border:0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-family: Roboto;
	font-size: 14px;
	margin-top: 15%;
	padding: 8px 10px;
	text-transform: uppercase;
}
.note{
	font-size: 12px;
	font-weight: normal;
}
.addnew{
	color: #ff0000;
	display: block;
	float: right;
	font-weight: bold;
}
.center{
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	padding: 18px 25px;
}
.login h4{
	color:#666666;
	font-family: BebasNeus;
	font-size: 45px;
	padding-bottom: 15px;
}
.login input[type="text"]{
	padding: 4px 5px;
	margin: 5;
	width: 50%;
}
.login a{
	color:#ff0000;
	font-size: 12px;
	text-decoration: none;
}
.login a:hover{
	color:#666;
}
.login input[type="submit"]{
	background: #ff0000;
	border:0;
	color:#fff;
	cursor: pointer;
	font-size: 15px;
	padding: 8px 20px;
}
.login input[type="submit"]:hover{
	background: #666;
}
.destacar{
	color: #ff0000;
}
section[role="registro"] fieldset, section[role="registro"]  article{
	color: #333;
	display: inline-block;
	height: 350px;
	font-family: Roboto;
	overflow: hidden;
	vertical-align: top;
}
.botones{
	background: #ff0000;
	color:#fff;
	display: block;
	font-family: Roboto;
	font-size: 14px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	width: 100px;
	transition: all 0.5s;
}
.floatright{
	float: right;
}
.floatleft{
	float: left;
}
.ccenter{
	margin: 0 auto 0 auto;
}
.botones:hover{
	background: #666;
}
section[role="registro"] fieldset{
	border:#ff0000 solid 1px;
	font-size: 14px;
	line-height: 22px;
	padding: 20px 15px 20px 40px;
	width: 25%;
}
section[role="registro"] article{
	font-size: 16px;
	padding: 20px 15px 20px 40px;
	text-align: center;
	width: 40%;
}
section[role="registro"] article h3{
	color:#ff0000;
	font-family: BebasNeus;
	font-size: 57px;
	margin: 80px 0 15px 0;
}
section[role="registro"] article strong{
	font-size: 21px;
	font-weight: normal;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 650px) and (max-width: 1024px)  {
/* Styles */
	section[role="registro"] fieldset{
		width: 35%;
	}
	section[role="registro"] article{
		width: 45%;
		margin-left: 5%;
	}
	.ccenter{
		margin: 7% auto 0 auto;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
/* Styles */
	section[role="registro"] fieldset{
		width: 30%;
	}
	section[role="registro"] article{
		width: 50%;
		margin-left: 5%;
	}
	.ccenter{
		margin: 24% auto 0 auto;
	}
}
@media only screen and (min-width: 1281px) {
	section[role="registro"] fieldset{
		margin-left: 8%;
	}
	section[role="registro"]  article{
		margin-left: 5%;
	}
	.ccenter{
		margin: 22% auto 0 auto;
	}
}